// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, or any plugin's
// vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file. JavaScript code in this file should be added after the last require_* statement.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require rails-ujs
//= require jquery
//= require_tree .



$(document).ready(function (){
	var myCoords = new google.maps.LatLng(15.196, 145.751);

    function initialize() {
      var mapOptions = {
      center: myCoords,
      zoom: 12,
      scrollwheel: false
      };
        
      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);  

      var image = {
      	url: "<%= asset_path 'latte.jpg' %>",
      	scaledSize: new google.maps.Size(50,50)
      }

	      var marker = new google.maps.Marker({
	    		position: myCoords,
	    		map: map,
	    		icon: image,
	    		animation: google.maps.Animation.DROP
    	});  

	    var contentString = '<h2>Saipan</h2>' + "<p>The island you can't find on a map.</p>";

 			var infowindow = new google.maps.InfoWindow({content: contentString
 			});

 			google.maps.event.addListener(marker, 'click', function() {
    		infowindow.open(map,marker);
 			});
    }

      
    google.maps.event.addDomListener(window, 'load', initialize);
});